.element__image_style{
    display: block;
    height: 282px;
    width: 100%;
    overflow: hidden;
    border-radius: 10% 10% 0 0;
    cursor: pointer;
}

.element__image_style img {
    max-width: 200%; 
    max-height: 150%; 
}
