.element__container{
    background-color: #fff;
    color: #000;
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
    border-radius: 0 0 20px 20px;
}