    @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("InterVariable.woff2") format("woff2");
      }
    h1,h2{
        margin: 0;
        padding: 0;
    }
    .root{
        font-family: InterVariable;
        color: #fff;
        background-color: #000000;
        max-width: 880px;
        height: 100vh;
        margin: 0 auto;
    }
